* {
    margin: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    margin-left: auto;
    text-decoration: none;
    list-style: none;
}

.menu a {
    margin-left: 50px;
    margin-right: 0px;
    padding-left: 1000%;
}

.topo {
    background-color: orange;
    padding: 50px;
    padding-bottom: 30px;
}

.topo li {
    padding: 0px;
}

.titulo {
    color: rgb(80, 39, 1);
    text-align: center;
}

.subtitulo {
    color: rgb(80, 39, 1);
    text-align: center;  
}

.destaque {
    padding: 20px;
    color: red;
    text-align: center;
}

.materia {
    width: 500px;
}

.materia img {
    width: 100%;
    padding-left: auto;
    padding-right: auto;
}

.preco {
    padding-left: 10px;
}

.frete {
    padding-left: 10px;
}

.botao {
    padding-left: 10px;
}