* {
    margin: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    margin-left: auto;
    text-decoration: none;
    list-style: none;
}

.menu li a {
    padding-left: 100px;
}

.topo {
    background-color: orange;
    padding: 50px;
    padding-bottom: 30px;
}

.topo li {
    padding: 0px;
}

.titulo {
    color: rgb(80, 39, 1);
    text-align: center;
}

.subtitulo {
    color: rgb(80, 39, 1);
    text-align: center;  
}

.destaque {
    padding-top: 50px;
    color: red;
    text-align: center;
}

.materia {
    width: 500px;
    padding: 15px;
}

.materia img {
    width: 100%;

}

.preco {
    padding-left: 10px;
}

.frete {
    padding-left: 10px;
}

.botao {
    padding-left: 10px;
}

div {
    display: inline-block;
    width: 250px;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
    gap: 20px;
}

.rodape {
    background-color: orange;
    padding-left: 10px;
    padding-top: 10px;
}