* {
    margin: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    margin-left: auto;
    text-decoration: none;
    list-style: none;
}

.menu li a {
    margin: 20px;
}

.topo {
    background-color: orange;
    padding: 50px;
    padding-bottom: 30px;
}

.corpo img {
width: 40%;
margin-top: 10px;
}

.tudo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-left: 360px;
    background-color: brown;
}

.titulo {
    color: rgb(80, 39, 1);
    text-align: center;
}

.subtitulo {
    color: rgb(80, 39, 1);
    text-align: center;  
}

.destaque {
    padding-top: 50px;
    color: red;
    margin-bottom: 40px;
    text-align: center;
}

.preco {
    padding-left: 10px;
}

.frete {
    padding-left: 10px;
}

.botao {
    padding-left: 10px;
}


.teve {
    padding-top: 27px;
}

.rodape {
    background-color: orange;
    padding-left: 10px;
    padding-top: 10px;

}

.rodape h1 {

    padding-top: 500px;
}